{
  "presets": [
    ["env", {
      "targets": { "ie": 9 },
      "modules": false
    }]
  ],
  "plugins": [
    "external-helpers",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": { "ie": 9 }
        }]
      ]
    }
  }
}
