{
  "presets": [
    ["env", {
      "targets": { "ie": 9 },
      "modules": false
    }]
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": { "ie": 9 }
        }]
      ]
    }
  }
}
