{
  "presets": [
    ["env", {
      "targets": { "ie": 9 },
      "modules": false
    }]
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", { "targets": { "ie": 9 }}]
      ]
    },
    "production": {
      "plugins": ["external-helpers"]
    },
    "development": {
      "plugins": ["external-helpers"]
    }
  }
}
